/SimpleApp/.idea
/SimpleApp/.vscode
/SimpleApp/node_modules
/SimpleApp/android/.idea
/SimpleApp/android/.gradle
/SimpleApp/android/build
/SimpleApp/android/app/build
/SimpleApp/android/captures
/SimpleApp/android/app/app.iml
/RNTester/.idea
/RNTester/.vscode
/RNTester/node_modules
/RNTester/android/.gradle
/RNTester/android/.idea
/RNTester/android/build
/RNTester/android/app/build
/RNTester/android/captures
/ReactNative/.gradle
/ReactNative/.vscode
/ReactNative/node_modules
/ReactNative/android/.gradle
/ReactNative/android/.idea
/ReactNative/android/build
/ReactNative/android/app/build
/ReactNative/android/captures
/vue-learning/.idea
/vue-learning/.vscode
